<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  </head>
  <body>
      <header class="p-3 mb-3 border-bottom" th:insert="blocks/header :: header"></header>
      <div class="container mt-5">
        <div th:each="el : ${ads}" class="alert alert-info mt-2">
          <h3 th:text="${el.title}"/>
          <p><b>Цена:</b> <span th:text="${el.cost}"/></p>
          <p th:text="${el.short_text}"/>
          <a th:href="'/' + ${el.getId()}" class="btn btn-warning">Открыть полностью</a>
        </div>
      </div>
      <footer class="text-muted py-5" th:insert="blocks/footer :: footer"></footer> 
</body>
</html>